<section class="ah-container ah-section ah-container-login">
    <h2>Créer un compte</h2>
    <form class="ah-form ah-form-login">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput  name="name">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput  name="firstname">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Adresse</mat-label>
            <input matInput name="adress">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Code postal</mat-label>
            <input matInput  name="zipcode">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Ville</mat-label>
            <input matInput  name="city">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput name="email" type="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput name="password" type="password">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Vérification du mot de passe</mat-label>
            <input matInput  name="checkpassword" type="password">
        </mat-form-field>
    
        <div class="ah-form-fieldset">
            <button class="ah-cta-primary" mat-raised-button type="submit">Valider</button>
            </div>
            <div class="ah-form-fieldset">
                <p>Vous avez déjà un compte ?<br>
                    <a routerLink="/login">Connectez-vous</a>
                </p>
            </div>
    </form>
</section>