<footer id="footer" class="ah-footer">
    <section id="footer-top" class="ah-footer-top">
        <div class="ah-footer-wrap">
        <mat-toolbar color="background">
            <nav class="ah-nav-secondary ah-footer-nav-primary">
            <ul class="list-inline">
                <li><a class="ah-footer-link ah-link ah-link-secondary" routerLink="/about">À propos</a></li>
                <li><a class="ah-footer-link ah-link ah-link-secondary" routerLink="/blog">Blog</a></li>
                <li><a class="ah-footer-link ah-link ah-link-secondary" routerLink="/support">Support</a></li>
                <li><a class="ah-footer-link ah-link ah-link-secondary" routerLink="/faq">FAQ</a></li>
                <li><a class="ah-footer-link ah-link ah-link-secondary" routerLink="/cgu">CGU</a></li>
            </ul>
            </nav>
            <nav class="ah-nav-secondary ah-footer-nav-secondary">
            <ul class="list-inline">
                <li class="not-mobile"><a class="ah-footer-link ah-link ah-link-secondary" routerLink="/news"><mat-icon class="ah-icon-inline-toolbar">new_releases</mat-icon><span>Actualités</span></a></li>
                <li class="not-mobile"><a class="ah-footer-link ah-link ah-link-secondary" routerLink="/help"><mat-icon class="ah-icon-inline-toolbar">help</mat-icon><span>Aide</span></a></li>
                <li><button (click)="UItoggleTheme()" class="ah-cta-primary" mat-button><mat-icon>brightness_6</mat-icon></button></li>
            </ul>
            </nav>
        </mat-toolbar>
        </div>
    </section>
    <section class="ah-footer-sub">
        <div class="ah-footer-wrap">
        <div class="ah-flex-list ah-footer-list">
            <div>
            <h6>reinsurance content</h6>
            <div>
                <p class="ah-tiny">Quod rerum sapiente illum temporibus<br> tempore omnis commodi molestias iste officia non?</p>
                <p class="ah-tiny">Lorem ipsum dolor sit amet consectetur<br> adipisicing elit. Corporis nemo sed repellendus id<br> deserunt optio obcaecati ipsa laudantium<p>
            </div>
            </div>
            <div class="ah-flex-list flex-lines-to-left">
            <ul>
                <li>Item item</li>
                <li>Item item</li>
                <li>Item item</li>
            </ul>
            <ul>
                <li>Item item</li>
                <li>Item item</li>
                <li>Item item</li>
            </ul>
            </div>
            <ul class="ah-list-icons ah-flex-list">
            <!--
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#e2c3c3" data-icon="navigation"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#994d4d" data-icon="overground"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#93ba8e" data-icon="plane"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#21a34c" data-icon="rocket"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#4e9ace" data-icon="roller-skate"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#80cbe8" data-icon="roller"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#5994ea" data-icon="scateboard"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#7081e5" data-icon="scooter"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#a490f4" data-icon="train"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#f279cd" data-icon="underground"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-tiny" data-group="transport" data-color="#f4bc62" data-icon="vagon"></a></li>
            -->
            </ul>
        </div>
        </div>
    </section>
</footer>