<section class="ah-section ah-container-primary lead">
    <h2 class="ah-title">Les types d'hébergements</h2>
    <ul class="ah-list-icons ah-flex-list">
        <li *ngFor="let category of list">
            <!--<app-icon routerLink="/category/{{ category.ID }}" [forceReload]="true" [iconsParams.size]="iconsSize" [iconsParams.set]="iconsSet" [iconsParams.group]="icons[category.ID - 1].group" [iconsParams.name]="icons[category.ID - 1].name" [iconsParams.bgFolder]="iconsBgFolder" [iconsParams.bg]="category.ID" [iconsParams.color]="iconsColor" [iconsParams.title]="category.title" [iconsParams.cardText]="category.description"></app-icon>
            -->
            </li>
    </ul>
</section>