<h1 class="ah-title">All AtypikHouse Icons & Tags & Cards - Demo</h1>
<p><a href="http://www.freepik.com/">http://www.freepik.com/</a></p>

<h2>Tags Exemple</h2>
<section class="ah-section ah-section-demo" id="tags">
     <div class="ah-tag">Lorem ipsum</div>
     <div class="ah-tag">Sed in</div>
     <div class="ah-tag">Integer accumsan</div>
     <div class="ah-tag">Donec gravida</div>
     <div class="ah-tag">Quisque eu</div>
     <div class="ah-tag">Sed placerat</div>
     <div class="ah-tag">Sed vel</div>
     <div class="ah-tag">Pellentesque ut</div>
     <div class="ah-tag">Etiam eget</div>
     <div class="ah-tag">Sed suscipit</div>
     <div class="ah-tag">Suspendisse vestibulum</div>
</section>

<h2>Tags Exemple - Colors</h2>
<section class="ah-section ah-section-demo" id="tags-colors">
     <div class="ah-tag" data-text="Lorem ipsum"            data-color="#e2c3c3"></div>
     <div class="ah-tag" data-text="Sed in"                 data-color="#994d4d"></div>
     <div class="ah-tag" data-text="Integer accumsan"       data-color="#93ba8e"></div>
     <div class="ah-tag" data-text="Donec gravida"          data-color="#21a34c"></div>
     <div class="ah-tag" data-text="Quisque eu"             data-color="#4e9ace"></div>
     <div class="ah-tag" data-text="Sed placerat"           data-color="#80cbe8"></div>
     <div class="ah-tag" data-text="Sed vel"                data-color="#5994ea"></div>
     <div class="ah-tag" data-text="Pellentesque ut"        data-color="#7081e5"></div>
     <div class="ah-tag" data-text="Etiam eget"             data-color="#a490f4"></div>
     <div class="ah-tag" data-text="Sed suscipit"           data-color="#f279cd"></div>
     <div class="ah-tag" data-text="Suspendisse vestibulum" data-color="#f4bc62"></div>
</section>

<h2>Tags Exemple - with Icons</h2>
<section class="ah-section ah-section-demo" id="tags">
     <div class="ah-tag tag-icon" data-group="monument" data-backg="mountain-track" data-icon="mountain-track" data-title="Title" data-marker="Marker" data-color="#e2c3c3" data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></div>
     <div class="ah-tag tag-icon" data-group="monument" data-backg="mountains"      data-icon="mountains"      data-title="Title" data-marker="Marker" data-color="#994d4d" data-text="Sed in ante id enim semper luctus a nec lorem."></div>
     <div class="ah-tag tag-icon" data-group="monument" data-backg="mushrooms"      data-icon="mushrooms"      data-title="Title" data-marker="Marker" data-color="#93ba8e" data-text="Integer accumsan mauris ut lacus mattis condimentum."></div>
     <div class="ah-tag tag-icon" data-group="monument" data-backg="north-forest"   data-icon="north-forest"   data-title="Title" data-marker="Marker" data-color="#21a34c" data-text="Donec gravida tortor a ultricies dapibus."></div>
     <div class="ah-tag tag-icon" data-group="monument" data-backg="objective"      data-icon="objective"      data-title="Title" data-marker="Marker" data-color="#4e9ace" data-text="Quisque eu urna quis diam venenatis aliquet."></div>
     <div class="ah-tag tag-icon" data-group="monument" data-backg="picnik"         data-icon="picnik"         data-title="Title" data-marker="Marker" data-color="#80cbe8" data-text="Sed placerat ex nec orci tempus, id convallis diam bibendum."></div>
     <div class="ah-tag tag-icon" data-group="monument" data-backg="plant"          data-icon="plant"          data-title="Title" data-marker="Marker" data-color="#5994ea" data-text="Sed vel risus non diam malesuada finibus."></div>
     <div class="ah-tag tag-icon" data-group="monument" data-backg="swiss-knife"    data-icon="swiss-knife"    data-title="Title" data-marker="Marker" data-color="#7081e5" data-text="Pellentesque ut leo egestas, aliquam felis vitae, tincidunt leo."></div>
     <div class="ah-tag tag-icon" data-group="monument" data-backg="tent"           data-icon="tent"           data-title="Title" data-marker="Marker" data-color="#a490f4" data-text="Etiam eget neque ut justo faucibus volutpat."></div>
     <div class="ah-tag tag-icon" data-group="monument" data-backg="trailer"        data-icon="trailer"        data-title="Title" data-marker="Marker" data-color="#f279cd" data-text="Sed suscipit eros vitae fringilla condimentum."></div>
     <div class="ah-tag tag-icon" data-group="monument" data-backg="tree"           data-icon="tree"           data-title="Title" data-marker="Marker" data-color="#f4bc62" data-text="Suspendisse vestibulum est id justo tempor hendrerit."></div>
</section>

<h2>Icons Doc Exemple - Tiny</h2>
<section class="ah-section ah-section-demo ah-flex-list" id="icons-doc">
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="barcode"></div>
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="check-in-point"></div>
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="check-in"></div>
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="conductor"></div>
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="credit-card"></div>
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="credit-cards"></div>
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="fingerprint"></div>
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="flight-card"></div>
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="fling-ticket"></div>
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="id-card"></div>
    <div class="ah-icon icon-tiny" data-group="doc" data-icon="id"></div>
</section>
<h2>Icons Doc Exemple - Tiny Circle</h2>
<section class="ah-section ah-section-demo ah-flex-list" id="icons-doc-circle">
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="online-checkin"></div>
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="passport"></div>
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="phone-book"></div>
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="qr-code-scan"></div>
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="qr-code"></div>
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="tag"></div>
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="ticket"></div>
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="tickets"></div>
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="tickets-2"></div>
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="wallet"></div>
    <div class="ah-icon icon-tiny circle" data-group="doc" data-icon="international-pass"></div>
</section>

<h2>Icons Transport Exemple - Tiny Colors</h2>
<section class="ah-section ah-section-demo ah-flex-list" id="icons-transport">
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#e2c3c3" data-icon="baloon"></div>
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#994d4d" data-icon="boat"></div>
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#93ba8e" data-icon="bus"></div>
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#21a34c" data-icon="bycicle"></div>
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#4e9ace" data-icon="car"></div>
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#80cbe8" data-icon="chopper"></div>
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#5994ea" data-icon="compass"></div>
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#7081e5" data-icon="golf-cart"></div>
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#a490f4" data-icon="jet-ski"></div>
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#f279cd" data-icon="lift"></div>
    <div class="ah-icon icon-tiny" data-group="transport" data-color="#a262f4" data-icon="locomotive"></div>
</section>

<h2>Icons Transport Exemple - Tiny Circle Colors</h2>
<section class="ah-section ah-section-demo ah-flex-list" id="icons-transport-colors">
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#e2c3c3" data-icon="navigation"></div>
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#994d4d" data-icon="overground"></div>
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#93ba8e" data-icon="plane"></div>
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#21a34c" data-icon="rocket"></div>
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#4e9ace" data-icon="roller-skate"></div>
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#80cbe8" data-icon="roller"></div>
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#5994ea" data-icon="scateboard"></div>
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#7081e5" data-icon="scooter"></div>
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#a490f4" data-icon="train"></div>
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#f279cd" data-icon="underground"></div>
    <div class="ah-icon icon-tiny circle" data-group="transport" data-color="#f4bc62" data-icon="vagon"></div>
</section>

<h2>Icons Hotel Exemple - Mid</h2>
<section class="ah-section ah-section-demo ah-flex-list" id="icons-hotel">
    <div class="ah-icon icon-mid" data-group="hotel" data-icon="animal-allowed"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-icon="camera"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-icon="cup"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-icon="dnd"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-icon="double-bed"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-icon="fire-extinguisher"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-icon="fitness"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-icon="free-wifi"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-icon="hotel-building"></div>
</section>

<h2>Icons Hotel Exemple - Mid Colors</h2>
<section class="ah-section ah-section-demo ah-flex-list flex-lines" id="icons-hotel-colors">
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#bc4a11" data-icon="key"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#c98d23" data-icon="lamp"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#e2c3c3" data-icon="luggage-carry"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#994d4d" data-icon="no-animal-alowed"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#93ba8e" data-icon="pool"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#21a34c" data-icon="room-service"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#4e9ace" data-icon="shower"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#80cbe8" data-icon="single-bed"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#5994ea" data-icon="toilet-paper"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#7081e5" data-icon="towels"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#a490f4" data-icon="travel"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#f279cd" data-icon="tv"></div>
    <div class="ah-icon icon-mid" data-group="hotel" data-color="#f4bc62" data-icon="valet"></div>
</section>

<h2>Icons Restaurant Exemple - Mid Pictures</h2>
<section class="ah-section ah-section-demo ah-flex-list flex-lines" id="icons-restaurant">
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="chicken" data-icon="chicken"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="coctail" data-icon="coctail"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="coffee-beans" data-icon="coffee-beans"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="coffee-machine" data-icon="coffee-machine"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="coffee-mug" data-icon="coffee-mug"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="cupcake" data-icon="cupcake"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="dinner" data-icon="dinner"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="fast-food" data-icon="fast-food"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="grill" data-icon="grill"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="hot-tea" data-icon="hot-tea"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="ice-cream" data-icon="ice-cream"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="knife" data-icon="knife"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="lemonade" data-icon="lemonade"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="lunch" data-icon="lunch"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="pepper" data-icon="pepper"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="pot" data-icon="pot"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="restaurant" data-icon="restaurant"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="soup" data-icon="soup"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="sugar" data-icon="sugar"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="take-away-coffee" data-icon="take-away-coffee"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="tea" data-icon="tea"></div>
    <div class="ah-icon icon-mid" data-group="restaurant" data-backg="toast" data-icon="toast"></div>
</section>

<h2>Icons Beach Exemple - Big Pictures</h2>
<section class="ah-section ah-section-demo ah-flex-list" id="icons-beach">
    <div class="ah-icon icon-big" data-group="beach" data-backg="anchor"     data-icon="anchor"    ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="beach"      data-icon="beach"     ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="fish"       data-icon="fish"      ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="fishing"    data-icon="fishing"   ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="flip-flops" data-icon="flip-flops"></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="flippers"   data-icon="flippers"  ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="fresh"      data-icon="fresh"     ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="house"      data-icon="house"     ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="ice-cream"  data-icon="ice-cream" ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="island"     data-icon="island"    ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="life-vest"  data-icon="life-vest" ></div>
</section>

<h2>Icons Beach Exemple - Big Pictures with Title</h2>
<section class="ah-section ah-section-demo ah-flex-list" id="icons-beach-title">
    <div class="ah-icon icon-big" data-group="beach" data-backg="sailing"       data-icon="sailing"       data-title="sailing"      ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="sand-bucket"   data-icon="sand-bucket"   data-title="sand-bucket"  ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="sandcastle"    data-icon="sandcastle"    data-title="sandcastle"   ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="scuba-diving"  data-icon="scuba-diving"  data-title="scuba-diving" ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="sun"           data-icon="sun"           data-title="sun"          ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="sunglasses"    data-icon="sunglasses"    data-title="sunglasses"   ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="sunny-beach"   data-icon="sunny-beach"   data-title="sunny-beach"  ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="swimming-suit" data-icon="swimming-suit" data-title="swimming-suit"></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="swimming"      data-icon="swimming"      data-title="swimming"     ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="temperature"   data-icon="temperature"   data-title="temperature"  ></div>
    <div class="ah-icon icon-big" data-group="beach" data-backg="watermelon"    data-icon="watermelon"    data-title="watermelon"   ></div>
</section>

<h2>Icons Forest Exemple - Card with Title</h2>
<section class="ah-section ah-section-demo ah-flex-list flex-lines" id="icons-forest">
    <div class="ah-icon icon-card" data-group="forest" data-backg="acorn"      data-icon="acorn"      data-title="acorn"     ></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="back-pack"  data-icon="back-pack"  data-title="back-pack" ></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="barbeque"   data-icon="barbeque"   data-title="barbeque"  ></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="bear"       data-icon="bear"       data-title="bear"      ></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="bird-house" data-icon="bird-house" data-title="bird-house"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="butterfly"  data-icon="butterfly"  data-title="butterfly" ></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="direction"  data-icon="direction"  data-title="direction" ></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="fire-lamp"  data-icon="fire-lamp"  data-title="fire-lamp" ></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="fire"       data-icon="fire"       data-title="fire"      ></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="forest"     data-icon="forest"     data-title="forest"    ></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="hand-lamp"  data-icon="hand-lamp"  data-title="hand-lamp" ></div>
</section>

<h2>Icons Forest Exemple - Card with Title & Marker</h2>
<section class="ah-section ah-section-demo ah-flex-list flex-lines" id="icons-forest-marker">
    <div class="ah-icon icon-card" data-group="forest" data-backg="mountain-track" data-icon="mountain-track" data-title="Title" data-marker="Marker" data-color="#e2c3c3"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="mountains"      data-icon="mountains"      data-title="Title" data-marker="Marker" data-color="#994d4d"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="mushrooms"      data-icon="mushrooms"      data-title="Title" data-marker="Marker" data-color="#93ba8e"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="north-forest"   data-icon="north-forest"   data-title="Title" data-marker="Marker" data-color="#21a34c"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="objective"      data-icon="objective"      data-title="Title" data-marker="Marker" data-color="#4e9ace"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="picnik"         data-icon="picnik"         data-title="Title" data-marker="Marker" data-color="#80cbe8"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="plant"          data-icon="plant"          data-title="Title" data-marker="Marker" data-color="#5994ea"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="swiss-knife"    data-icon="swiss-knife"    data-title="Title" data-marker="Marker" data-color="#7081e5"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="tent"           data-icon="tent"           data-title="Title" data-marker="Marker" data-color="#a490f4"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="trailer"        data-icon="trailer"        data-title="Title" data-marker="Marker" data-color="#f279cd"></div>
    <div class="ah-icon icon-card" data-group="forest" data-backg="tree"           data-icon="tree"           data-title="Title" data-marker="Marker" data-color="#f4bc62"></div>
</section>

<h2>Icons Monument Exemple - Card with Text</h2>
<section class="ah-section ah-section-demo ah-flex-list" id="icons-monument">
    <div class="ah-icon icon-card" data-group="monument" data-backg="mountain-track" data-icon="mountain-track" data-title="Title" data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="mountains"      data-icon="mountains"      data-title="Title" data-text="Sed in ante id enim semper luctus a nec lorem."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="mushrooms"      data-icon="mushrooms"      data-title="Title" data-text="Integer accumsan mauris ut lacus mattis condimentum."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="north-forest"   data-icon="north-forest"   data-title="Title" data-text="Donec gravida tortor a ultricies dapibus."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="objective"      data-icon="objective"      data-title="Title" data-text="Quisque eu urna quis diam venenatis aliquet."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="picnik"         data-icon="picnik"         data-title="Title" data-text="Sed placerat ex nec orci tempus, id convallis diam bibendum."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="plant"          data-icon="plant"          data-title="Title" data-text="Sed vel risus non diam malesuada finibus."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="swiss-knife"    data-icon="swiss-knife"    data-title="Title" data-text="Pellentesque ut leo egestas, aliquam felis vitae, tincidunt leo."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="tent"           data-icon="tent"           data-title="Title" data-text="Etiam eget neque ut justo faucibus volutpat."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="trailer"        data-icon="trailer"        data-title="Title" data-text="Sed suscipit eros vitae fringilla condimentum."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="tree"           data-icon="tree"           data-title="Title" data-text="Suspendisse vestibulum est id justo tempor hendrerit."></div>
</section>


<h2>Icons Monument Exemple - Card with Text & Marker</h2>
<section class="ah-section ah-section-demo ah-flex-list" id="icons-monument-marker">
    <div class="ah-icon icon-card" data-group="monument" data-backg="mountain-track" data-icon="mountain-track" data-title="Title" data-marker="Marker" data-color="#e2c3c3" data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="mountains"      data-icon="mountains"      data-title="Title" data-marker="Marker" data-color="#994d4d" data-text="Sed in ante id enim semper luctus a nec lorem."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="mushrooms"      data-icon="mushrooms"      data-title="Title" data-marker="Marker" data-color="#93ba8e" data-text="Integer accumsan mauris ut lacus mattis condimentum."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="north-forest"   data-icon="north-forest"   data-title="Title" data-marker="Marker" data-color="#21a34c" data-text="Donec gravida tortor a ultricies dapibus."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="objective"      data-icon="objective"      data-title="Title" data-marker="Marker" data-color="#4e9ace" data-text="Quisque eu urna quis diam venenatis aliquet."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="picnik"         data-icon="picnik"         data-title="Title" data-marker="Marker" data-color="#80cbe8" data-text="Sed placerat ex nec orci tempus, id convallis diam bibendum."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="plant"          data-icon="plant"          data-title="Title" data-marker="Marker" data-color="#5994ea" data-text="Sed vel risus non diam malesuada finibus."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="swiss-knife"    data-icon="swiss-knife"    data-title="Title" data-marker="Marker" data-color="#7081e5" data-text="Pellentesque ut leo egestas, aliquam felis vitae, tincidunt leo."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="tent"           data-icon="tent"           data-title="Title" data-marker="Marker" data-color="#a490f4" data-text="Etiam eget neque ut justo faucibus volutpat."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="trailer"        data-icon="trailer"        data-title="Title" data-marker="Marker" data-color="#f279cd" data-text="Sed suscipit eros vitae fringilla condimentum."></div>
    <div class="ah-icon icon-card" data-group="monument" data-backg="tree"           data-icon="tree"           data-title="Title" data-marker="Marker" data-color="#f4bc62" data-text="Suspendisse vestibulum est id justo tempor hendrerit."></div>
</section>
