<section class="ah-section ah-container-primary top">
    <h2 class="ah-title">{{ listTitle }}</h2>
    <ul class="ah-list-icons ah-flex-list ah-list-houses">
      <ng-container *ngFor="let house of houses">
        <li *ngIf="filterCategory === house.ID_category || filterCategory === 0 && house.status != 0;" class="house status-{{ house.status }}">
          <app-icon *ngIf="isReady" routerLink="/house/{{ house.ID }}" [forceReload]="true" [iconSize]="iconsSize" [iconsSet]="iconsSet" [iconGroup]="icons[house.ID_category - 1].group" [iconName]="icons[house.ID_category - 1].name" [iconBgFolder]="iconsBgFolder" [iconBg]="house.ID" [iconColor]="iconsColor" [iconTitle]="house.title" [iconSubTitle]="house.zipcode+', '+house.city" [cardText]="house.description" [cardMarker]="math.round(house.price + ((house.price/100) * house.tax))"></app-icon>
        </li>
      </ng-container>
    </ul>
</section>