<table mat-table matSort [dataSource]="pics" class="mat-elevation-z8 ah-admin-table {{ editOn }}">
    
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="ID" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col-ID">ID</th>
        <td mat-cell *matCellDef="let pic"class="ah-admin-table-col-ID"><span>{{pic.ID}}</span></td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col">
            <span class="ah-admin-head">Titre</span>
         </th>
        <td mat-cell *matCellDef="let pic" class="ah-admin-table-col">
            <span class="ah-admin-value">{{pic.title}}</span>
            <mat-form-field class="ah-admin-field">
                <input matInput type="text" (input)="update(pic.ID,'title','input',$event)" class="ah-admin-input ah-admin-input-title" [value]="pic.title" [attr.data-prev-value]="pic.title">
            </mat-form-field>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col">
            <span class="ah-admin-head">Date</span>
        </th>
        <td mat-cell *matCellDef="let pic" class="ah-admin-table-col">
            <!-- <span class="ah-admin-value">{{datePipe.transform(pic.date,"dd/MM/yyyy")}}</span> -->
        </td>
    </ng-container>

    <ng-container matColumnDef="tools" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-edit-container"></th>
        <td mat-cell *matCellDef="let pic" class="ah-admin-table-edit-container">
            <div id="{{ pic.ID }}" class="ah-admin-table-edit">
                <button mat-mini-fab class="ah-admin-cta ah-cta-edit ah-cta-edit-focus ah-cta-primary" (click)="focus(pic.ID,'edit')" color="primary"><mat-icon>edit</mat-icon></button>
                <button mat-mini-fab class="ah-admin-cta ah-cta-delete ah-cta-delete-focus" (click)="focus(pic.ID,'delete')"><mat-icon>delete</mat-icon></button>
                <button mat-mini-fab class="ah-admin-cta ah-cta-cancel ah-cta-cancel-delete" (click)="cancel(pic.ID,'delete')"><mat-icon>close</mat-icon></button>
                <button mat-mini-fab class="ah-admin-cta ah-cta-delete ah-cta-delete-confirm" (click)="delete(pic.ID)"><mat-icon>delete</mat-icon></button>
                <form id="form-edit-{{ pic.ID }}" class="ah-admin-form" (submit)="edit(pic)">
                    <input type="text" name="title"       [value]="pic.title"       hidden>
                    <button mat-mini-fab class="ah-admin-cta ah-cta-cancel ah-cta-cancel-edit" (click)="cancel(pic.ID,'edit')" type="reset"><mat-icon>close</mat-icon></button>
                    <button mat-mini-fab class="ah-admin-cta ah-cta-edit ah-cta-edit-submit ah-cta-primary" type="submit"><mat-icon>done</mat-icon></button>
                </form>
            </div>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="ah-admin-table-tr"></tr>
</table>
      