<section class="ah-section ah-container-primary top">
    <h2 class="ah-title">{{ listTitle }}</h2>
    <ul class="ah-list ah-booking-list ah-list-order">
        <ng-container *ngFor="let booking of bookings; let i = index">
            <li id="booking-{{booking.ID}}" *ngIf="filterUser === booking.ID_user || filterUser === 0" class="mat-elevation-z5 ah-list-order-child ah-booking ah-container-tertiary status-{{ booking.status }} order-{{ booking.status }}">
                <h5 class="ah-booking-title">Réservation de <mark> {{ nbNights(booking.dateStart,booking.dateEnd)}} nuit(s)</mark> à <mark>{{ houseTitles[i] }}</mark></h5>
                <hr>
            <div class="ah-booking-container ah-booking-house-link" *ngIf="isReady">
                <app-icon routerLink="/house/{{ booking.ID_house }}" [forceReload]="true" [iconSize]="'mid'" [iconsSet]="'travel'" [iconGroup]="" [iconName]="" [iconBgFolder]="'houses'" [iconBg]="booking.ID_house" [iconColor]="'#15a08c'"></app-icon>
            </div>
            <div class="ah-booking-container ah-booking-details">
                <h6 class="ah-house-title" *ngIf="cancelDialogID == booking.ID">Annuler la réservation à "{{ house.title }}" ?</h6>
                <h6 class="ah-booking-period">Du <b class="ah-booking-start">{{ dateLabel(booking.dateStart) }}</b> au <b class="ah-booking-end">{{ dateLabel(booking.dateEnd) }}</b></h6>
                <p class="ah-booking-subdetails">
                    <span class="ah-booking-date">Réservé le: <b>{{ dateLabel(booking.date) }}</b></span><br>
                    <span class="ah-booking-nbpersons">Pour {{ booking.nbPersons }} personne(s)</span>
                </p>
            </div>
            <div class="ah-booking-container ah-booking-actions">
                <button mat-raised-button routerLink="/booking/{{ booking.ID }}" class="ah-booking-cta ah-cta-special"  *ngIf="booking.status == 2 &&cancelDialogID != booking.ID"><mat-icon>info</mat-icon> Voir le détail du prix</button>
                <button mat-raised-button (click)="openCancelBooking(booking.ID)" class="ah-booking-cta ah-cta-tertiary ah-booking-cta-cancel" *ngIf="booking.status == 1 && cancelDialogID != booking.ID"><mat-icon>close</mat-icon></button>
                <button mat-raised-button routerLink="/booking/{{ booking.ID }}" class="ah-booking-cta ah-cta-primary"  *ngIf="booking.status == 1 && cancelDialogID != booking.ID"><mat-icon>euro</mat-icon> Payer</button>
                <button mat-raised-button (click)="openCancelBooking(0)" class="ah-booking-cta ah-cta-tertiary ah-booking-cta-cancel" *ngIf="cancelDialogID == booking.ID">x</button>
                <button mat-raised-button (click)="cancelBooking(booking.ID)" class="ah-booking-cta ah-cta-delete" *ngIf="cancelDialogID == booking.ID">Annuler la réservation</button>
            </div>
        </li>
        </ng-container>
    </ul>
</section>