<section class="ah-container ah-section ah-container-login">
    <h2>Connection</h2>
    <form [formGroup]="userForm" (submit)="login()" class="ah-form ah-form-login" method="POST">
        <div class="ah-form-fieldset">
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput name="email" type="email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input matInput name="password" type="password" formControlName="password">
            </mat-form-field>
        </div>
        <div class="ah-form-fieldset">
            <button class="ah-cta-primary" mat-raised-button type="submit">Valider</button>
        </div>
        <div class="ah-form-fieldset">
            <p>Vous n'avez pas de compte ?<br>
                <a routerLink="/signup">Créer un compte</a>
            </p>
        </div>
    </form>
</section>