<!--The content below is only a placeholder and can be replaced.-->
<header class="ah-header">
  <div class="ah-header-wrap">
    <mat-toolbar color="background" class="ah-nav-primary">
      <mat-card-title class="ah-title"><a class="ah-link ah-link-primary" href="">AtypikHouse</a></mat-card-title>
    </mat-toolbar>
  </div>

</header>

<div class="ah-container-main">
  <router-outlet></router-outlet>
</div>

<footer class="ah-footer">
  <div class="ah-footer-wrap">
    <mat-toolbar color="background" class="ah-nav-secondary">
      <mat-card-title class="ah-title ah-subtitle-h4"><a class="ah-link ah-link-secondary" href="">Footer</a></mat-card-title>
      <mat-card-actions>
          <button (click)="onClick()" class="ah-cta-primary" mat-button><mat-icon>brightness_6</mat-icon></button>
      </mat-card-actions>
    </mat-toolbar>
  </div>
</footer>
