<!--The content below is only a placeholder and can be replaced.-->

<header class="ah-header">
  <div class="ah-header-wrap">
    <mat-toolbar color="background">
      <button id="sidenav-cta" (click)="toggleSidenav()" class="ah-cta-secondary not-desktop" mat-button><mat-icon>menu</mat-icon><mat-icon>menu_open</mat-icon></button>
      <a class="ah-title ah-link ah-link-primary" href="/"><h1 class="ah-header-title">AtypikHouse</h1><img src="assets/img/logo.png" class="ah-header-logo"></a>
      <nav class="ah-nav-primary ah-header-nav-primary">
        <ul class="list-inline">
          <li class="not-mobile"><mat-card-title class="ah-title ah-subtitle-h3"><a class="ah-link ah-link-secondary" href="/categories">Explorer</a></mat-card-title></li>
          <li class="not-mobile"><mat-card-title class="ah-title ah-subtitle-h3"><a class="ah-link ah-link-secondary" href="/news">Actualités</a></mat-card-title></li>
          <li class="not-mobile"><mat-card-title class="ah-title ah-subtitle-h3"><a class="ah-link ah-link-secondary" href="/help">Aide</a></mat-card-title></li>
          <li><mat-card-title class="ah-title ah-subtitle-h3"><button (click)="login()" class="ah-cta-primary" mat-button><mat-icon>person</mat-icon> Se connecter</button></mat-card-title></li>
        </ul>
      </nav>
    </mat-toolbar>
    <nav id="sidenav" class="ah-nav-sidenav ah-nav-secondary not-desktop">
      <ul class="list-menu">
        <li><mat-card-title class="ah-title ah-subtitle"><a class="ah-link ah-link-secondary" href="/categories">Explorer</a></mat-card-title></li>
        <li><mat-card-title class="ah-title ah-subtitle"><a class="ah-link ah-link-secondary" href="/news">Actualités</a></mat-card-title></li>
        <li><mat-card-title class="ah-title ah-subtitle"><a class="ah-link ah-link-secondary" href="/help">Aide</a></mat-card-title></li>
      </ul>
    </nav>
  </div>
</header>

<div class="ah-container-main ah-loading ah-loading-overlay">
  <router-outlet></router-outlet>
  <div class="ah-loader">
    <div class="ah-loader-container">
      <!--
        <div class="ah-loader-triangle ah-loader-triangle-border"></div>
        <div class="ah-loader-triangle ah-loader-triangle-back"></div>
        <div class="ah-loader-logo"></div>
      -->
        <i class="ah-loader-icon la la-leaf"></i>
    </div>
  </div>
</div>

<footer class="ah-footer">
  <div class="ah-footer-wrap">
    <mat-toolbar color="background">
      <nav class="ah-nav-secondary ah-footer-nav-primary">
        <ul class="list-inline">
          <li><mat-card-title class="ah-title ah-subtitle-h4"><a class="ah-link ah-link-secondary" href="/about">À propos</a></mat-card-title></li>
          <li><mat-card-title class="ah-title ah-subtitle-h4"><a class="ah-link ah-link-secondary" href="/blog">Blog</a></mat-card-title></li>
          <li><mat-card-title class="ah-title ah-subtitle-h4"><a class="ah-link ah-link-secondary" href="/support">Support</a></mat-card-title></li>
          <li><mat-card-title class="ah-title ah-subtitle-h4"><a class="ah-link ah-link-secondary" href="/faq">FAQ</a></mat-card-title></li>
          <li><mat-card-title class="ah-title ah-subtitle-h4"><a class="ah-link ah-link-secondary" href="/cgu">CGU</a></mat-card-title></li>
        </ul>
      </nav>
      <nav class="ah-nav-secondary ah-footer-nav-secondary">
        <ul class="list-inline">
          <li><mat-card-title class="ah-title ah-subtitle-h4"><a class="ah-link ah-link-secondary" href="/all">all</a></mat-card-title></li>
          <li><mat-card-title class="ah-title ah-subtitle-h4"><a class="ah-link ah-link-secondary" href="/demo">demo</a></mat-card-title></li>
          <li><mat-card-title class="ah-title ah-subtitle-h4"><a class="ah-link ah-link-secondary" href="/demo-typo">demo-typo</a></mat-card-title></li>
          <li><button (click)="toggleTheme()" class="ah-cta-primary" mat-button><mat-icon>brightness_6</mat-icon></button></li>
        </ul>
      </nav>
    </mat-toolbar>
  </div>
</footer>
