
<h2>Créez Votre Compte</h2>
<div class="register-container">
        <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput name="email" type="email">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput  name="name">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Prénom</mat-label>
                <input matInput  name="prenom">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Adresse</mat-label>
                <input matInput name="adresse">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Code postale</mat-label>
                <input matInput  name="codePostale">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Ville</mat-label>
                <input matInput  name="ville">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input matInput name="password" type="password">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Vérification du mot de passe</mat-label>
                <input matInput  name="verifPassword" type="password">
            </mat-form-field>
        
            <button mat-raised-button type="submit">Valider</button>
        
            <p>Vous avez compte! <span><a href="/login">Clickez ici!</a></span>/p>
</div>

