
<h2>Créez Votre Compte</h2>
    <form [formGroup]="signupForm" class="register-container">
        
        <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input formControlName="email" matInput name="email" type="email">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input formControlName="firstname" matInput  name="name">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Prénom</mat-label>
                <input formControlName="lastname" matInput  name="prenom">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Adresse</mat-label>
                <input formControlName="address" matInput name="adresse">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Code postale</mat-label>
                <input formControlName="zip" matInput  name="codePostale">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Ville</mat-label>
                <input formControlName="city" matInput  name="ville">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input formControlName="password" matInput name="password" type="password">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Vérification du mot de passe</mat-label>
                <input formControlName="verifPassword" matInput  name="verifPassword" type="password">
            </mat-form-field>
        
            <button mat-raised-button (click)="submit()">Valider</button>
        
            <p>Vous avez un compte! <span><a href="/login">Clickez ici!</a></span>/p>
    </form>



