      <mat-card>
        <mat-card-title>{{ house.name }}</mat-card-title>
      </mat-card>

      <mat-card>
        <h2>{{ house.place }}</h2>
      </mat-card>
      <mat-card>
        <h3>{{ house.location.address }}</h3>
      </mat-card>
      <mat-card>
        <h4>{{ house.location.city }}</h4>
      </mat-card>

      <mat-card>
        <h4>{{ house.type }}</h4>
      </mat-card>

      <mat-card>
        <p>{{ house.desc }}</p>
      </mat-card>

    <mat-card>
      {{ house | json }}
    </mat-card>

    <a id="btnEdit" mat-fab routerLink="/house/{{ house._id }}/edit"><mat-icon>edit</mat-icon></a>

