
    <h1 class="ah-title">All angular components - Demo</h1>
    <h2 class="ah-title ah-subtitle">Static content (without db)</h2>
    <p>Remove ah class in body to disabled theme</p>

    <section class="app-demo-nav ah-container-demo" data-content="app-demo-nav">
        <!---demo-nav--->
        <h3 class="ah-title ah-subtitle-h3">Navigation</h3>
    </section>

    <section class="app-demo-layout ah-container-demo" data-content="app-demo-layout">
        <!---demo-layout--->
        <h3 class="ah-title ah-subtitle-h3">Layout</h3>
    </section>
    
    <section class="app-demo-form ah-container-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-title ah-subtitle-h3">Form Controls</h3>
    </section>

    <section class="app-demo-btns ah-container-demo" data-content="app-demo-btns">
        <!---demo-btns--->
        <h3 class="ah-title ah-subtitle-h3">Buttons & Indicators</h3>
    </section>

    <section class="app-demo-form ah-container-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-title ah-subtitle-h3">Popups & Modals</h3>
    </section>

    <section class="app-demo-form ah-container-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-title ah-subtitle-h3">Data table</h3>
    </section>

    <section class="app-demo-form ah-container-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-title ah-subtitle-h3">Without Matriel Style - Stepper</h3>
    </section>
    
    <section class="app-demo-form ah-container-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-title ah-subtitle-h3">Without Matriel Style - Table</h3>
    </section>

    <section class="app-demo-form ah-container-demo" data-content="app-demo-form">
        <!---demo-form--->
        <h3 class="ah-title ah-subtitle-h3">Without Matriel Style - Tree</h3>
    </section>


