<app-icon *ngIf="house" (click)="slide()" [iconSize]="iconsSize" [iconsSet]="iconsSet" [iconGroup]="icons[house.ID_category - 1].group" [iconName]="icons[house.ID_category - 1].name" [iconBgFolder]="iconsBgFolder" [iconBg]="house.ID" [iconColor]="iconsColor" [iconTitle]="house.title" [cardText]="house.description" [cardMarker]="math.round(house.price + ((house.price/100) * house.tax)).toString()"></app-icon>
<!--
<section class="ah-product-info">
  <mat-card>
    <mat-card-title>{{ house.title }}</mat-card-title>
  </mat-card>

  <mat-card>
    <h3>{{ house.location.address }}</h3>
  </mat-card>
  <mat-card>
    <h4>{{ house.location.city }}</h4>
  </mat-card>

  <mat-card>
    <h4>{{ house.type }}</h4>
  </mat-card>

  <mat-card>
    <p>{{ house.description }}</p>
  </mat-card>

  <mat-card>
    
  </mat-card>
</section>
-->
{{ house | json }}
    <a class="ah-overlay-cta-primary" mat-fab routerLink="/house/{{ house.ID }}/edit"><mat-icon>edit</mat-icon></a>