//body // remove global class .ah-theme in html to disable color theme
.ah-theme{
/*******************/
/*** COLOR THEME ***/
/*******************/
    // Variants
    &.ah-theme-dark {
        color: @ah-font-color-primary;
        background-color: @ah-background-color-primary;
        h2,
        .ah-ext-entry-title,
        .ah-title{
            border-color: darken(@ah-font-color-primary, 20%);
        }
    }
    
    // Revert white & black on light theme
    &.ah-theme-light {
        color: @ah-background-color-primary;
        background-color: @ah-font-color-primary;
        h2,
        .ah-ext-entry-title,
        .ah-title{
            border-color: lighten(@ah-background-color-primary, 20%);
        }
    }

    // Common colors il all themes
    //Toggle in body to switch theme // switch black to white in 

    .ah-link{
        color: @ah-link-font-color-primary;
    }
    .ah-loader-triangle{
        &.ah-loader-triangle-back{
            border-bottom-color: darken(@ah-background-color-primary, 5%);
        }
        &.ah-loader-triangle-border{
            border-bottom-color: @ah-container-back-color-secondary;
        }
    }
    .ah-loader-icon{
        color: @ah-cta-back-color-primary;
        border-color: @ah-container-back-color-secondary;
    }

    .ah-nav-sidenav{
        background-color: fade(darken(@ah-background-color-primary, 5%), 90%);
    }
    .sidenav-overlay{
        opacity: 0.2;
        filter: blur(5px);
    }
    .ah-header,
    .ah-footer{
        background-color: darken(@ah-background-color-primary, 5%);
    }
    .ah-cta-primary {
        background-color: @ah-cta-back-color-primary;
    }
    .ah-form-search {
        background-color: @ah-background-color-secondary;
    }
    .ah-nav-sticky{
        background-color: @ah-cta-back-color-primary;
    }
    hr{
        color: @ah-cta-back-color-primary;
    }
}