/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

/* Globals Vars for AtypikHouse Theme */
@import 'vars.less';

@keyframes loader-spin {
    0%{ transform:rotate(0deg);}
    100% { transform:rotate(360deg); } 
}

@keyframes loader-spin-2 {
    0%{ transform:rotate(0deg);}
    80% { transform:rotate(240deg); } 
    100% { transform:rotate(240deg); } 
}

@keyframes loader-spin-2-reverse {
    0%{ transform:rotate(240deg);}
    80% { transform:rotate(0deg); } 
    100% { transform:rotate(0deg); } 
}

//body // remove global class .ah in html to disable theme
.ah {
    margin: 0;
    font-family: @ah-font-family-text;
    font-size: @ah-font-size-root;

////////////////////////////////////////////////////
////////////////////////// RESET MATERIAL STYLES
////////////////////////////////////////////////////
    .mat-toolbar{
        padding: 0 !important;
        background-color:transparent;
    }

////////////////////////////////////////////////////
////////////////////////// ATYPIKHOUSE LAYOUT
////////////////////////////////////////////////////

    .ah-loading-overlay{
        &:not(.ah-loading) .ah-loader{
            display: none;
        }
    }

    .ah-loader,    
    .ah-loader-triangle,
    .ah-loader-logo,
    .ah-loader-icon{
        position: absolute;
    }
    .ah-loader{
        left: calc(50% - 100px);
        top: calc(50% - 100px);
        .ah-loader-container{
            position: relative;
            width: 200px;
            height: 173px;
        }
    }
    .ah-loader-icon{
        display: block;
        animation:loader-spin 2s linear infinite;
        border: 2px solid transparent;
        border-radius: 50%;
        font-size: 100px;
        left: calc(50% - 144px / 2);
        top: calc(50% - 144px / 2);
        padding: 15px 20px 25px;
        opacity: 0;
    }
    .ah-loader-triangle{
        width: 0;
        height: 0;
        animation:loader-spin-2 3s linear infinite alternate;
        &.ah-loader-triangle-back{
            border-right : 90px solid transparent;
            border-left : 90px solid transparent;
            border-bottom : 156px solid transparent;
            left:calc(50% -  90px);
            top: 11px;
            animation-name:loader-spin-2-reverse;
            transform-origin: center 109px;
        }
        &.ah-loader-triangle-border{
            border-right : 100px solid transparent;
            border-left : 100px solid transparent;
            border-bottom : 173px solid transparent;
            transform-origin: center 115px;
        }
    }
    .ah-loader-logo{
        background: @ah-logo;
        width: 100%;
        height: 100%;
    }


/*********************/
/**** CONTAINERS *****/
/*********************/
    .ah-page{
        min-height: 100vh;
        position: relative;
        overflow: hidden;
    }
    .ah-header,
    .ah-footer{
        padding: 0 @ah-padding-primary;
        width: calc(100% - @ah-padding-primary * 2 );
    }
    .ah-header-wrap,
    .ah-footer-wrap,
    .ah-container-main{
        max-width: 1000px;
        margin: auto;
    }
    .ah-nav-sidenav,
    .ah-container-main{
        margin-top: 56px;
        margin-bottom: 56px;
        padding: @ah-padding-primary;
        min-height: calc(100vh - 56px - 56px - @ah-padding-primary * 2);
    }

    .ah-section{

    }
    .ah-container{

    }
    
/*********************/
/****** HEADER *******/
/*********************/
    .ah-header{
        position: fixed;
    }
    .ah-header-title{
        display: none;
    }
    .ah-header-logo {
        margin-top: -17px;
    }


/*********************/
/*** HEADING & TEXT **/
/*********************/
    h1,h2,
    .ah-subtitle,
    .ah-ext-entry-title,
    .ah-title{
        font-family: @ah-font-family-title;
        font-size: @ah-font-size-title;
        text-transform: uppercase;
        display: block;
    }
    h2,
    .ah-ext-entry-title,
    .ah-subtitle{
        font-size: @ah-font-size-subtitle;
        border-bottom: 1px transparent solid;
    }
    .ah-subtitle-h3{
        font-size: @ah-font-size-subtitle-h3;
    }
    .ah-subtitle-h4{
        font-size: @ah-font-size-subtitle-h4;
    }
    .ah-subtitle-h5{
        font-size: @ah-font-size-subtitle-h5;
    }
    .ah-subtitle-h6{
        font-size: @ah-font-size-subtitle-h6;
        text-transform: capitalize;
    }
    
/*********************/
/****CTA & LINKS *****/
/*********************/
    .ah-link{
        text-decoration: none;
    }
    .ah-link:hover{
        text-decoration: underline;
    }

    /* CTA in overlay (fixed position to bottom)*/
    .ah-overlay-cta-primary {
        position: fixed;
        right: @ah-padding-primary;
        bottom: @ah-padding-primary;
    }
    .ah-overlay-cta-primary-edit {

    }
    .ah-overlay-cta-primary-valid {
    }
    .ah-overlay-cta-primary-cancel {
        left: @ah-padding-primary;
        right: auto;
    }

/*********************/
/***** NAV & LIST ****/
/*********************/
    .ah-nav-primary,
    .ah-nav-secondary {
        display: inline-block;
        vertical-align: bottom;
        .list-menu,
        .list-inline{
            list-style-type: none;
            margin: 0;
            li{
                vertical-align: middle;
            }
        }
        .list-menu{
            li{
                margin-bottom: @ah-padding-primary;
            }
        }
    }
    .ah-header-nav-primary,
    .ah-footer-nav-secondary {
        margin-left: auto;
    }

    .ah-nav-sticky{
        position: sticky;
        top: 0;
    }
    .ah-nav-sidenav{
        position: absolute;
        overflow: hidden;
        visibility: hidden;
        top: 0;
        width: 0;
        opacity: 0;
        z-index: 1000;
        margin-left: -@ah-padding-primary;
        padding: @ah-padding-primary 0;
        transition: width 250ms ease-in-out,  opacity 100ms linear;
    }
    .ah-nav-sidenav.open{
        visibility: visible;
        opacity: 1;
        width: 300px;
        padding: @ah-padding-primary;
        transition: width 250ms ease-in-out,  opacity 100ms linear;
    }
    #sidenav-cta{
        padding: 0;
        margin-right: @ah-padding-primary;
        .mat-icon{
            transform: scale(1.8);
        }
        .mat-button-wrapper .mat-icon:last-child{
            display: none;
        }
        &.open{
            .mat-button-wrapper .mat-icon:last-child{
                display: inline-block;
            }
            .mat-button-wrapper .mat-icon:first-child{
                display: none;
            }
        }
    } 

// grid

/*********************/
/******* FORMS *******/
/*********************/
    .ah-form-fieldset {
        border: none;
        margin-top: @ah-margin-primary;
    }

/*********************/
/****** FOOTER *******/
/*********************/
    .ah-footer{
        position: absolute;
        bottom: 0;
    }

/*********************/
/**** lOGIN PAGE *****/
/*********************/

/*********************/
/*** MEDIA QUERIES ***/
/*********************/
    .hide,
    .not-desktop{
        display: none;
    }
    .not-mobile{
        display: inline-block;
    }
    @media screen and (max-width: 800px) {
        .not-mobile{
            display: none;
        }
        .not-desktop{
            display: inline-block;
        }
    }
}

/* Colors */
@import 'colors.less';