<section class="ah-section ah-container-primary lead ah-container-promote">
    <h2 class="ah-title"><i class="la la-sun-o"></i>Les plus beaux séjours<i class="la la-sun-o"></i></h2>
        <app-list [filterCategory]="0"></app-list>
</section>


  <!--
    <mat-card-title>{{ house.title }}</mat-card-title>
    <mat-card-subtitle>{{ house.address }}, {{ house.city }}</mat-card-subtitle>
    <mat-card-actions>
      <button (click)="goMap(house)" mat-button><mat-icon>map</mat-icon> Map</button>
      <button (click)="share(house)" mat-button><mat-icon>share</mat-icon> Share</button>
      <button (click)="goDetails(house)" mat-button><mat-icon>list</mat-icon> Details</button>
    </mat-card-actions>
  -->
