/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';

/* globals vars*/
@import 'vars.less';

// Color theme
.ah-theme-dark {
    color: @ah-font-color-primary;
    background-color: @ah-background-color-primary;
}
// Revert white & black on light theme
.ah-theme-light {
    color: @ah-background-color-primary;
    background-color: @ah-font-color-primary;
}

//body
.ah {
    margin: 0;
    padding:@ah-padding-primary;
    background-color: @ah-background-color-primary
}

.ah-button-primary {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  
