// Font Family

// Font family by default : Roboto in angular material theme
@ah-font-family-title: monserrat;

// Font Sizes
@ah-font-size-root:     12px;
@ah-font-size-text:     1rem;
@ah-font-size-caption:  0.8rem;
@ah-font-size-title:    3rem;
@ah-font-size-subtitle: 2rem;
@ah-font-size-subtitle-h3: @ah-font-size-subtitle / 2;
@ah-font-size-subtitle-h4: @ah-font-size-subtitle / 2.5;
@ah-font-size-subtitle-h5: @ah-font-size-subtitle / 3;
@ah-font-size-subtitle-h6: @ah-font-size-text;

////// Colors
@ah-black:       #1d2120;
@ah-white:       #e6e6e6;
@ah-grey:        #5a5c51;
@ah-brown:       #ba9077;
@ah-green-light: #bcd5d1;
@ah-green:       #15a08c;

@ah-font-color-primary:   @ah-white;
@ah-font-color-secondary: @ah-grey;

@ah-background-color-primary:   @ah-black;
@ah-background-color-secondary: @ah-grey;

@ah-container-back-color-primary:   @ah-brown;
@ah-container-back-color-secondary: @ah-green-light;
@ah-container-back-color-tertiary:  @ah-white;
@ah-container-font-color-primary:   @ah-white;
@ah-container-font-color-secondary: @ah-grey;
@ah-container-font-color-tertiary:  @ah-grey;

@ah-button-back-color-primary:   @ah-green;
@ah-button-back-color-secondary: @ah-green-light;
@ah-button-back-color-tertiary:  @ah-grey;
@ah-button-font-color-primary:   @ah-white;
@ah-button-font-color-secondary: @ah-grey;
@ah-button-font-color-tertiary:  @ah-white;

@ah-link-font-color-primary:   @ah-green-light;
@ah-link-font-color-secondary: @ah-brown;
@ah-link-font-color-tertiary:  @ah-grey;

////// Layout 
@ah-size-bigger: 30px;
@ah-size-big:    25px;
@ah-size-medium: 20px;
@ah-size-base:   15px;
@ah-size-little: 10px;
@ah-size-tiny:   5px;

@ah-padding-primary:   @ah-size-base;
@ah-padding-secondary: @ah-size-little;
@ah-padding-tertiary:  @ah-size-tiny;

@ah-margin-primary:    @ah-size-bigger;
@ah-margin-secondary:  @ah-size-big;
@ah-margin-tertiary:   @ah-size-medium;

@ah-container-paddin-primary:   @ah-padding-primary;
@ah-container-paddin-secondary: @ah-padding-secondary;
@ah-container-paddin-tertiary:  @ah-padding-tertiary;
@ah-container-margin-primary:   @ah-margin-primary;
@ah-container-margin-secondary: @ah-margin-secondary;
@ah-container-margin-tertiary:  @ah-margin-tertiary;

@ah-child-paddin-primary:   @ah-padding-primary   / 2;
@ah-child-paddin-secondary: @ah-padding-secondary / 2;
@ah-child-paddin-tertiary:  @ah-padding-tertiary  / 2;
@ah-child-margin-primary:   @ah-margin-primary    / 2;
@ah-child-margin-secondary: @ah-margin-secondary  / 2;
@ah-child-margin-tertiary:  @ah-margin-tertiary   / 2;