
    <h2 class="ah-title">All AtypikHouse components - Demo</h2>
    <h3 class="ah-subtitle">Static content (without db)</h3>
    <p class="ah-text">Remove ah class in body to disabled theme</p>
    
    <section class="app-all-child app-home ah-section ah-section-demo" data-content="app-home">
        <!---home--->
        <app-home></app-home>
    </section>
    <section class="app-all-child app-activity ah-section ah-section-demo" data-content="app-activity">
        <!---activity--->
        <app-activity></app-activity>
    </section>
    <section class="app-all-child app-booking ah-section ah-section-demo" data-content="app-booking">
        <!---booking--->
        <app-booking></app-booking>
    </section>
    <section class="app-all-child app-category ah-section ah-section-demo" data-content="app-category">
        <!---category--->
        <app-category></app-category>
    </section>
    <section class="app-all-child app-comment ah-section ah-section-demo" data-content="app-comment">
        <!---comment--->
        <app-comment></app-comment>
    </section>
    <section class="app-all-child app-house ah-section ah-section-demo" data-content="app-house">
        <!---house--->
        <app-house></app-house>
    </section>
    <section class="app-all-child app-payment ah-section ah-section-demo" data-content="app-payment">
        <!---payment--->
        <app-payment></app-payment>
    </section>
    <section class="app-all-child app-pic ah-section ah-section-demo" data-content="app-pic">
        <!---pic--->
        <app-pic></app-pic>
    </section>
    <section class="app-all-child app-post ah-section ah-section-demo" data-content="app-post">
        <!---post--->
        <app-post></app-post>
    </section>
    <section class="app-all-child app-tag ah-section ah-section-demo" data-content="app-tag">
        <!---tag--->
        <app-tag></app-tag>
    </section>
    <section class="app-all-child app-user ah-section ah-section-demo" data-content="app-user">
        <!---user--->
        <app-user></app-user>
    </section>

