<section *ngIf="userPro" class="ah-section ah-container-primary top">
  <h2 class="ah-title">{{ listTitle }}</h2>
  <p class="text-center">
    <button mat-raised-button routerLink="/house" class="ah-cta-primary ah-cta-new">
      <mat-icon>add</mat-icon><br>Créer une nouvelle annonce
    </button>
  </p>

  <ul class="ah-list-icons ah-list ah-list-houses ah-list-houses-user">
    <h3>Annonces mises en avant</h3>
    <ng-container *ngFor="let house of houses">
      <li *ngIf="( filterUser === house.ID_user || filterUser === 0 ) && house.status == 2"
        class="ah-list-houses-item status-{{ house.status }}">
        <div class="ah-list-houses-details ah-list-houses-actions left">
          <button mat-raised-button routerLink="/house/{{ house.ID }}/edit"
            class="ah-house-cta ah-cta-primary ah-house-edit">
            <mat-icon>edit</mat-icon><br>Modifier
          </button><br>
          <button mat-raised-button (click)="disableHouse(house.ID)" class="ah-house-cta ah-cta-tertiary ah-house-disable">
            <mat-icon>block</mat-icon><br>Dépublier
          </button>
        </div>

        <div class="ah-list-houses-container">
          <div class="ah-list-houses-header">
            <app-icon routerLink="/house/{{ house.ID }}" [forceReload]="true" [iconSize]="iconsSize"
              [iconsSet]="iconsSet" [iconGroup]="icons[house.ID_category - 1].group"
              [iconName]="icons[house.ID_category - 1].name" [iconBgFolder]="iconsBgFolder" [iconBg]="house.ID"
              [iconColor]="iconsColor" [iconTitle]="house.title" [iconSubTitle]="house.zipcode+', '+house.city"
              [cardText]="house.description" [cardMarker]="math.round(house.price + ((house.price/100) * house.tax))">
            </app-icon>
            <div class="ah-list-houses-details ah-list-houses-booking">
              <h5 class="ah-house-title">{{ house.title }}</h5>
              <p *ngIf="house">
                <span class="ah-booking-info">0 {{ getTotalWaitingBooking(house.ID) }} réservations à confirmer (Paiements
                  en attente)</span><br>
                <span class="ah-booking-info">0 {{ getTotalBooking(house.ID) }} réservations validées (Paiements
                  effectués)</span>
              </p>
              <button class="ah-cta-primary ah-cta-calendar" mat-raised-button (click)="openCalendar(house.ID)">
                <mat-icon>calendar_today</mat-icon> Voir le calendrier des réservations
              </button>
            </div>
          </div>
        </div>
        <div class="ah-list-houses-details ah-list-houses-actions right">
          <button mat-raised-button (click)="removePromoteHouse(house.ID)"
            class="ah-house-cta ah-cta-special ah-house-promote only-admin">
            <mat-icon>close</mat-icon><br>
            <p class="ah-cta-text">Ne plus mettre<br>en avant</p>
          </button><br>
          <button mat-raised-button (click)="deleteHouse(house.ID)" class="ah-house-cta ah-cta-delete ah-house-delete">
            <mat-icon>delete</mat-icon><br>Supprimer
          </button>
        </div>
      </li>
    </ng-container>
  </ul>

  <ul class="ah-list-icons ah-list ah-list-houses ah-list-houses-user">
    <h3>Annonces publiées</h3>
    <ng-container *ngFor="let house of houses">
      <li *ngIf="( filterUser === house.ID_user || filterUser === 0 ) && house.status == 1"
        class="ah-list-houses-item status-{{ house.status }}">
        <div class="ah-list-houses-details ah-list-houses-actions left">
          <button mat-raised-button routerLink="/house/{{ house.ID }}/edit"
            class="ah-house-cta ah-cta-primary ah-house-edit">
            <mat-icon>edit</mat-icon><br>Modifier
          </button><br>
          <button mat-raised-button (click)="disableHouse(house.ID)" class="ah-house-cta ah-cta-tertiary ah-house-disable">
            <mat-icon>block</mat-icon><br>Dépublier
          </button>
        </div>

        <div class="ah-list-houses-container">
          <div class="ah-list-houses-header">
            <app-icon routerLink="/house/{{ house.ID }}" [forceReload]="true" [iconSize]="iconsSize"
              [iconsSet]="iconsSet" [iconGroup]="icons[house.ID_category - 1].group"
              [iconName]="icons[house.ID_category - 1].name" [iconBgFolder]="iconsBgFolder" [iconBg]="house.ID"
              [iconColor]="iconsColor" [iconTitle]="house.title" [iconSubTitle]="house.zipcode+', '+house.city"
              [cardText]="house.description" [cardMarker]="math.round(house.price + ((house.price/100) * house.tax))">
            </app-icon>
            <div class="ah-list-houses-details ah-list-houses-booking">
              <h5 class="ah-house-title">{{ house.title }}</h5>
              <p>
                <span class="ah-booking-info">0 {{ getTotalWaitingBooking(house.ID) }} réservations à confirmer (Paiements
                  en attente)</span><br>
                <span class="ah-booking-info">0 {{ getTotalBooking(house.ID) }} réservations validées (Paiements
                  effectués)</span>
              </p>
              <button class="ah-cta-primary ah-cta-calendar" mat-raised-button (click)="openCalendar(house.ID)">
                <mat-icon>calendar_today</mat-icon> Voir le calendrier des réservations
              </button>
            </div>
          </div>
        </div>
        <div class="ah-list-houses-details ah-list-houses-actions right">
          <button mat-raised-button (click)="promoteHouse(house.ID)"
            class="ah-house-cta ah-cta-special ah-house-promote only-admin">
            <i class="icon-promote la la-sun-o"></i><br>Mettre en avant
          </button><br>
          <button mat-raised-button (click)="deleteHouse(house.ID)" class="ah-house-cta ah-cta-delete ah-house-delete">
            <mat-icon>delete</mat-icon><br>Supprimer
          </button>
        </div>
      </li>
    </ng-container>
  </ul>


  <ul class="ah-list-icons ah-list ah-list-houses ah-list-houses-user">
    <h3>Annonces dépubliées</h3>
    <ng-container *ngFor="let house of houses">
      <li *ngIf="( filterUser === house.ID_user || filterUser === 0 ) && house.status == 0"
        class="ah-list-houses-item status-{{ house.status }}">
        <div class="ah-list-houses-details ah-list-houses-actions left">
          <button mat-raised-button routerLink="/house/{{ house.ID }}/edit"
            class="ah-house-cta ah-cta-primary ah-house-edit">
            <mat-icon>edit</mat-icon><br>Modifier
          </button><br>
          <button mat-raised-button (click)="enableHouse(house.ID)" class="ah-house-cta ah-cta-primary ah-house-enable">
            <mat-icon>check</mat-icon><br>Publier
          </button>
        </div>

        <div class="ah-list-houses-container">
          <div class="ah-list-houses-header">
            <app-icon routerLink="/house/{{ house.ID }}" [forceReload]="true" [iconSize]="iconsSize"
              [iconsSet]="iconsSet" [iconGroup]="icons[house.ID_category - 1].group"
              [iconName]="icons[house.ID_category - 1].name" [iconBgFolder]="iconsBgFolder" [iconBg]="house.ID"
              [iconColor]="iconsColor" [iconTitle]="house.title" [iconSubTitle]="house.zipcode+', '+house.city"
              [cardText]="house.description" [cardMarker]="math.round(house.price + ((house.price/100) * house.tax))">
            </app-icon>
            <div class="ah-list-houses-details ah-list-houses-booking">
              <h5 class="ah-house-title">{{ house.title }}</h5>
              <p>
                <span class="ah-booking-info">0 {{ getTotalWaitingBooking(house.ID) }} réservations à confirmer (Paiements
                  en attente)</span><br>
                <span class="ah-booking-info">0 {{ getTotalBooking(house.ID) }} réservations validées (Paiements
                  effectués)</span>
              </p>
              <button class="ah-cta-primary ah-cta-calendar" mat-raised-button (click)="openCalendar(house.ID)">
                <mat-icon>calendar_today</mat-icon> Voir le calendrier des réservations
              </button>
            </div>
          </div>
        </div>
        <div class="ah-list-houses-details ah-list-houses-actions right">
          <button mat-raised-button (click)="promoteHouse(house.ID)"
            class="ah-house-cta ah-cta-special ah-house-promote only-admin">
            <i class="icon-promote la la-sun-o"></i><br>Mettre en avant
          </button><br>
          <button mat-raised-button (click)="deleteHouse(house.ID)" class="ah-house-cta ah-cta-delete ah-house-delete">
            <mat-icon>delete</mat-icon><br>Supprimer
          </button>
        </div>
      </li>
    </ng-container>
  </ul>

</section>

<section *ngIf="!userPro" class="ah-section ah-container-primary top">
  <h2 class="ah-title">{{ listTitle }}</h2>
  <p class="text-center">
    Pour créer une nouvelle annonce, vous devez enregistrer un numéro de SIRET dans votre compte.
  </p>
  <p class="text-center">
    <button mat-raised-button class="ah-cta-primary" routerLink="/user/edit">Modifier mon profil</button>
  </p>
</section>