<section class="ah-container-primary lead ah-section ah-product-add">
    <h2 class="important">Publier une nouvelle annonce</h2>
    <form (submit)="newHouse()" class="ah-form ah-form-house ah-container-tertiary ah-section ah-section-spaced">
        <div>
            <mat-form-field class="ah-form-fieldset large ah-form-house-title">
                <mat-label>Titre</mat-label>
                <input matInput >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="ah-form-fieldset large ah-form-house-description">
                <mat-label>Description</mat-label>
                <textarea matInput ></textarea>
            </mat-form-field>                    
        </div>
        <div>
            <mat-form-field class="ah-form-fieldset large ah-form-house-address">
                <mat-label>Adresse</mat-label>
                <input matInput >
            </mat-form-field>    
        </div>
        <div>
            <mat-form-field class="ah-form-fieldset-inline ah-form-house-zipcode">
                <mat-label type="number">Code postal</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="ah-form-fieldset_inline ah-form-house-city">
                <mat-label>Ville</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="ah-form-fieldset ah-form-house-address">
                <mat-label>Nombre de lits</mat-label>
                <input matInput >
            </mat-form-field>    
        </div>
        <div>
            <mat-form-field class="ah-form-fieldset-inline ah-form-house-zipcode">
                <mat-label type="number">Prix</mat-label>
                <input matInput>
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
            <mat-form-field class="ah-form-fieldset_inline ah-form-house-city">
                <mat-label>Taxe</mat-label>
                <input matInput>
                <mat-icon matSuffix>%</mat-icon>
            </mat-form-field>
            </div>
        <div class="ah-house-submit"><button mat-button type="submit" class="ah-cta-primary ah-house-add-cta"><mat-icon>add</mat-icon> Publier</button></div>
    </form>
</section>
    {{ house | json }}
