<section class="ah-container-primary lead ah-section ah-product-add" *ngIf="ready">
    <h2 class="important">{{ title }}</h2>
    <form (submit)="submit()" class="ah-container-tertiary ah-section ah-form-house-container">
        <h3 *ngIf="!new" class="ah-form-house-title">Photo</h3>
        <div *ngIf="!new" class="ah-form ah-form-house">
            <img src="data/static/img/houses/{{ house.ID }}-banner.png" alt="house">
        </div>
        <h3 class="ah-form-house-title">Description</h3>
        <div class="ah-form ah-form-house">
            <mat-form-field class="ah-form-fieldset large ah-form-house-title">
                <mat-label>Catégorie (type d'hébergement)</mat-label>
                <mat-select name="ID_category" [(ngModel)]="house.ID_category" [value]="house.ID_category" required>
                    <mat-option *ngFor="let category of categories" [value]="category.ID">{{category.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="ah-form-fieldset large ah-form-house-title">
                <mat-label>Titre</mat-label>
                <input matInput name="title" [(ngModel)]="house.title" [value]="house.title" required>
            </mat-form-field>
            <mat-form-field class="ah-form-fieldset large ah-form-house-description">
                <mat-label>Description</mat-label>
                <textarea matInput name="description" [(ngModel)]="house.description" [value]="house.description" required></textarea>
            </mat-form-field>
        </div>
        <h3 class="ah-form-house-title">Localisation</h3>
        <div class="ah-form ah-form-house">
            <mat-form-field class="ah-form-fieldset large ah-form-house-address">
                <mat-label>Adresse</mat-label>
                <input matInput name="address" [(ngModel)]="house.address" [value]="house.address" required>
            </mat-form-field>
            <mat-form-field class="ah-form-fieldset-inline ah-form-house-zipcode">
                <mat-label>Code postal</mat-label>
                <input matInput name="zipcode" [(ngModel)]="house.zipcode" [value]="house.zipcode" required>
            </mat-form-field>
            <mat-form-field class="ah-form-fieldset-inline ah-form-house-city">
                <mat-label>Ville</mat-label>
                <input matInput name="city" [(ngModel)]="house.city" [value]="house.city" required>
            </mat-form-field>
        </div>
        <h3 class="ah-form-house-title">Détails</h3>
        <div class="ah-form ah-form-house">
            <mat-form-field class="ah-form-fieldset large ah-form-house-nbbeds">
                <mat-label>Nombre de places</mat-label>
                <input matInput name="nbBeds" [(ngModel)]="house.nbBeds" [value]="house.nbBeds" required>
                <mat-hint><i>Pour un lit deux places comptez 2<br> (Par exemple pour deux lits 2 places le nombre total de places est de 4.)</i></mat-hint>
            </mat-form-field><br>
            <mat-form-field class="ah-form-fieldset-inline ah-form-house-tags">
                <mat-label>Thématiques</mat-label>
                <mat-select multiple>
                    <ng-container *ngFor="let tag of tags">
                        <mat-option *ngIf="tag.type === 0" [value]="tag.ID" multiple>{{tag.tag}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="ah-form-fieldset-inline ah-form-house-tags">
                <mat-label>Services & équipements</mat-label>
                <mat-select multiple>
                    <ng-container *ngFor="let tag of tags">
                        <mat-option  *ngIf="tag.type === 1" [value]="tag.ID" multiple>{{tag.tag}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="ah-form-fieldset-inline ah-form-house-tags">
                <mat-label>Activités</mat-label>
                <mat-select multiple>
                    <mat-option *ngFor="let activity of activities" [value]="activity.ID" multiple>{{activity.title}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <h3 class="ah-form-house-title">Prix</h3>
        <div class="ah-form ah-form-house">
            <mat-form-field class="ah-form-fieldset-inline ah-form-house-zipcode">
                <mat-label>Prix HT</mat-label>
                <input matInput name="price" [(ngModel)]="house.price" [value]="house.price" required>
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
            <mat-form-field class="ah-form-fieldset-inline ah-form-house-city">
                <mat-label>Taxe</mat-label>
                <input matInput name="tax" [(ngModel)]="house.tax" [value]="house.tax" required>
                <mat-icon matSuffix>%</mat-icon>
            </mat-form-field>
        </div>
        <div class="ah-house-submit text-center">
            <button mat-button type="submit" class="ah-cta-primary ah-cta-submit">
                <ng-container *ngIf="new; else update">
                    <mat-icon>add</mat-icon><br>Publier
                </ng-container>
                <ng-template #update>
                    <mat-icon>check</mat-icon><br>Mettre à jour
                </ng-template>
            </button>
        </div>
    </form>
</section>