<table mat-table matSort [dataSource]="bookings" class="mat-elevation-z8 ah-admin-table {{ editOn }}">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="ID" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col-ID">ID</th>
        <td mat-cell *matCellDef="let booking"class="ah-admin-table-col-ID"><span>{{booking.ID}}</span></td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col-100">
            <span class="ah-admin-head">Statut</span>
        </th>
        <td mat-cell *matCellDef="let booking" class="ah-admin-table-col-100">
            <span class="ah-admin-value ah-admin-value-booking-{{booking.status}}">{{getLabel(booking.status)}}</span>
            <mat-form-field class="ah-admin-field">
                <mat-select matNativeControl (selectionChange)="update(booking.ID,'status','change',$event)" class="ah-admin-input ah-admin-input-select" [(value)]="booking.status" [attr.data-prev-value]="booking.status">
                    <mat-option [value]="0">{{getLabel(0)}}</mat-option>
                    <mat-option [value]="1">{{getLabel(1)}}</mat-option>
                    <mat-option [value]="2">{{getLabel(2)}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="nbPersons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col-60">
            <span class="ah-admin-head">Nombre de personnes</span>
        </th>
        <td mat-cell *matCellDef="let booking" class="ah-admin-table-col-60">
            <span class="ah-admin-value">{{booking.nbPersons}}</span>
            <mat-form-field class="ah-admin-field">
                <input matInput type="text" (input)="update(booking.ID,'nbPersons','input',$event)" class="ah-admin-input ah-admin-input-num" [value]="booking.nbPersons" [attr.data-prev-value]="booking.nbPersons">
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col">
            <span class="ah-admin-head">Date de réservation</span>
        </th>
        <td mat-cell *matCellDef="let booking" class="ah-admin-table-col">
            
        </td>
    </ng-container>

    <ng-container matColumnDef="dateStart">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col">
            <span class="ah-admin-head">Date de début</span>
        </th>
        <td mat-cell *matCellDef="let booking" class="ah-admin-table-col">
            
        </td>
    </ng-container>

    <ng-container matColumnDef="dateEnd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col">
            <span class="ah-admin-head">Date de fin</span>
        </th>
        <td mat-cell *matCellDef="let booking" class="ah-admin-table-col">
        
        </td>
    </ng-container>
    
    <ng-container matColumnDef="ID_user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col-60">
            <span class="ah-admin-head">ID Utilisateur</span>
            </th>
        <td mat-cell *matCellDef="let booking" class="ah-admin-table-col-60">
            <span class="ah-admin-value">{{booking.ID_user}}</span>
        <mat-form-field class="ah-admin-field">
                <input matInput type="text" (input)="update(booking.ID,'ID_user','input',$event)" class="ah-admin-input ah-admin-input-num" [value]="booking.ID_user" [attr.data-prev-value]="booking.ID_user">
            </mat-form-field>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="ID_house">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-col-60">
            <span class="ah-admin-head">ID Annonce</span>
        </th>
        <td mat-cell *matCellDef="let booking" class="ah-admin-table-col-60">
            <span class="ah-admin-value">{{booking.ID_house}}</span>
        <mat-form-field class="ah-admin-field">
                <input matInput type="text" (input)="update(booking.ID,'ID_house','input',$event)" class="ah-admin-input ah-admin-input-num" [value]="booking.ID_house" [attr.data-prev-value]="booking.ID_house">
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="tools" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ah-admin-table-edit-container"></th>
        <td mat-cell *matCellDef="let booking" class="ah-admin-table-edit-container">
            <div id="{{ booking.ID }}" class="ah-admin-table-edit">
                <button mat-mini-fab class="ah-admin-cta ah-cta-edit ah-cta-edit-focus ah-cta-primary" (click)="focus(booking.ID,'edit')" color="primary"><mat-icon>edit</mat-icon></button>
                <button mat-mini-fab class="ah-admin-cta ah-cta-delete ah-cta-delete-focus" (click)="focus(booking.ID,'delete')"><mat-icon>delete</mat-icon></button>
                <button mat-mini-fab class="ah-admin-cta ah-cta-cancel ah-cta-cancel-delete" (click)="cancel(booking.ID,'delete')"><mat-icon>close</mat-icon></button>
                <button mat-mini-fab class="ah-admin-cta ah-cta-delete ah-cta-delete-confirm" (click)="delete(booking.ID)"><mat-icon>delete</mat-icon></button>
                <form id="form-edit-{{ booking.ID }}" class="ah-admin-form" (submit)="edit(booking)">
                    <input type="text" name="status"    [value]="booking.status"    hidden>
                    <input type="text" name="nbPersons" [value]="booking.nbPersons" hidden>

                    <input type="text" name="ID_user"   [value]="booking.ID_user"   hidden>
                    <input type="text" name="ID_house"  [value]="booking.ID_house"  hidden>
                    <button mat-mini-fab class="ah-admin-cta ah-cta-cancel ah-cta-cancel-edit" (click)="cancel(booking.ID,'edit')" type="reset"><mat-icon>close</mat-icon></button>
                    <button mat-mini-fab class="ah-admin-cta ah-cta-edit ah-cta-edit-submit ah-cta-primary" type="submit"><mat-icon>done</mat-icon></button>
                </form>
            </div>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="ah-admin-table-tr"></tr>
</table>