
<a class="ah-icon icon-{{ iconsParams.size }} {{ iconsClass.circle }} {{ iconsClass.bgNotFound }} {{ iconsClass.withoutBg }} {{ iconsClass.withoutColor }} {{ iconsClass.cardWithText }} {{ iconsClass.cardWithMarker }}" [ngStyle]="styles()">
    <img class="ah-icon-asset" src="{{ iconsParams.set }}{{ iconsParams.group }}/{{ iconsParams.name }}.{{ iconsType }}" alt="{{ iconsParams.name }}">
    <div *ngIf="iconsParams.size == 'card' || 'banner'; else onlyTitle" class="ah-card-content" [ngStyle]="stylesCardContent()">
        <span *ngIf="iconsParams.title" class="icon-title">{{ iconsParams.title }}<br><span class="icon-subtitle">{{ iconsParams.subTitle }}</span></span>
        <p *ngIf="iconsParams.cardText" class="ah-card-text ah-tiny">{{ iconsParams.cardText }}</p>
    </div>
    <p *ngIf="iconsParams.cardMarker && iconsParams.color; else markerWithoutColor" class="ah-card-marker" [ngStyle]="stylesMarker()">à partir de <span class="price">{{ iconsParams.cardMarker }}&thinsp;€</span> /nuit</p>
    <ng-template #markerWithoutColor>
        <p *ngIf="iconsParams.cardMarker" class="ah-card-marker">à partir de <span class="price">{{ iconsParams.cardMarker }}</span> /nuit</p>
    </ng-template>
    <ng-template #onlyTitle>
        <span *ngIf="iconsParams.title" class="icon-title">{{ iconsParams.title }}</span>
    </ng-template>
</a>