
<section class="ah-container-primary ah-section {{ payed }} ah-container-product-booking">
    <h2 *ngIf="booking.status == 1">Confirmation de votre réservation<br> & Paiement</h2>
    <h2 *ngIf="booking.status == 2">Détail de votre réservation</h2>
    <h3 class="important">Réservation de <mark>{{ nbNights }} nuit(s)</mark> à <mark>{{ house.title }}</mark></h3>
    <h5 class="important">{{ house.address }}, {{ house.zipcode }}, {{ house.city }}</h5>
    <h4 class="payed-confirm ah-title important"><span class="ah-title-text"><i class="ah-title-icon-left la la-leaf"></i>Paiement effectué<i class="ah-title-icon-right la la-leaf"></i></span></h4>
    <h4 class="payed-confirm ah-title important"><span class="ah-title-text"><i class="ah-title-icon-left la la-leaf"></i>Réservation confirmée !<i class="ah-title-icon-right la la-leaf"></i></span></h4>
    <section class="ah-container ah-section ah-product-booking">
        <hr>
        <h6>Du <b>{{ dateStartLabel }}</b> au <b>{{ dateEndLabel }}</b></h6>
        <hr>
        <span>Au nom de : </span><h6><b>NOM Prénom</b></h6><span> pour {{ booking.nbPersons }} personne(s)</span>
        <hr>
        <p>Services inclus :</p>
    </section>
    <section class="ah-container ah-section ah-section-spaced ah-product-booking">
        <table class="ah-booking-table table">
            <caption class="ah-booking-table-caption"><h4 class="important ah-product-booking-subtitle">Détails du prix</h4></caption>
            <tbody>
                <tr>
                    <td>Prix HT :</td>
                    <td>{{ house.price }} €</td>
                </tr>
                <tr class="even">
                    <td>Taxes :</td>
                    <td>{{ house.tax }} %</td>
                </tr>
                <tr class="odd">
                    <td>Prix TTC :</td>
                    <td>{{ priceTTC }} €</td>
                </tr>
                <tr class="even">
                    <td>Nuitées :</td>
                    <td>x {{ nbNights }}</td>
                </tr>
                <tr class="odd">
                    <td>Personnes :</td>
                    <td>x {{ booking.nbPersons }}</td>
                </tr>
                <tr class="even">
                    <td class="ah-booking-table-price"><h4 class="important ah-product-booking-subtitle">TOTAL TTC:</h4></td>
                    <td class="ah-booking-table-price"><h4 class="important ah-product-booking-subtitle ah-product-booking-price"><mark> {{ totalPrice }} € </mark></h4></td>
                </tr>
            </tbody>
        </table>      
    </section>
    <section *ngIf="booking.status == 1" class="ah-container-tertiary ah-section ah-section-spaced ah-product-booking">
        <h3 class="ah-product-booking-title">Paiement</h3>
        <form (submit)="validBooking()" class="ah-form ah-form-product-booking">
            <div>
                <mat-form-field class="ah-form-fieldset-inline ah-form-booking-cardNumber">
                   <mat-icon class="ah-form-icon" matPrefix>credit_card</mat-icon>
                  <mat-label>Numéro de la carte</mat-label>
                  <input matInput >
                </mat-form-field>
                <mat-form-field class="ah-form-fieldset-inline ah-form-booking-card-date-month">
                  <mat-label>Expiration</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="ah-form-fieldset-inline ah-form-booking-card-date-year">
                  <input matInput >
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="ah-form-fieldset-inline ah-form-booking-card-date-year">
                  <mat-label>Nom Prénom</mat-label>
                  <input matInput placeholder="Tel qu'indiqué sur votre carte de crédit">
                </mat-form-field>
                <mat-form-field class="ah-form-fieldset_inline ah-form-booking-card-date-year">
                  <mat-label>CVC</mat-label>
                  <input matInput type="number" placeholder="Code de sécurité au dos de la carte">
                </mat-form-field>
            </div>
            <div class="ah-product-booking-payment"><button mat-button type="submit" class="ah-cta-primary ah-product-booking-payment-cta">Payer <mat-icon>double_arrow</mat-icon></button></div>
        </form>
        <div class="ah-product-booking-payment"><a><img class="ah-product-booking-payment-paypal" src="assets/img/paypal.png" alt="paypal"></a></div>
    </section>
</section>



