<section class="ah-section ah-container-primary">
    <h2 class="ah-title">À propos</h2>

    <section class="ah-section ah-container-primary lead">
        <h3>Un rêve devenu réalité</h3>
        <p>Story</p>
        <h3>Les magiciens de vos séjours</h3>
        <p>AtypikHouse c’est une équipe passionnée mais avant tout une grande famille. Notre objectif : vous faire rêver dans des lieux totalement atypiques : Lov’Nid, igloos, tipis, bulles ou encore tanières de Hobbit , dans des cadres idylliques et définitivement enchanteurs au cœur de nos belles régions françaises !</p>
        <p>Nous avons à notre actif plusieurs centaines de destinations à travers toute la France et ce chiffre ne cesse de croître de jour en jour.</p>
    </section>    

    <section class="ah-section ah-container-primary">
        <h3>Mais encore ?</h3>
        <p>AtypikHouse ce n'est pas "juste" un site de réservation. Quand vous réservez sur AtypikHouse, vous vous engagez à vivre un moment totalement magique et hors du temps. C'est ça la magie de l'insolite, vivre une expérience unique et non simplement une nuit.</p>
        <p>La force d’ AtypikHouse tient en cela ; une réelle passion, une connaissance parfaite du secteur, une équipe à votre écoute et bien évidemment des souvenirs inoubliables avec vos proches.</p>

        <h3>Ils parlent de nous !</h3>
        <p>text</p>

        <h3>En somme</h3>
        <p>Et oui c’est ça l’esprit AtypikHouse. Vous faire rêver dans un hébergement insolite, vous proposer une démarche expérientielle hors des sentiers battus !</p>
        <p>Il ne s’agit pas juste de trouver un lieu où dormir ou encore une destination, il s’agit de trouver un lieu qui sort de l’ordinaire où vivre une expérience inédite et susciter des émotions uniques !</p>

        <h3>Notre définition de "l'insolite"</h3>
        <p>Un hébergement insolite est un hébergement qui surprend, qui étonne, qui sort de l'ordinaire, qui donne envie de tenter l'aventure. C'est en général un logement que l'on découvre pour la première fois, et qui amène de l'excitation avant même d'y aller.</p>
        <p>L'aspect insolite peut provenir de différentes choses.</p>
        <ul>
            <li><b>La nature de l'hébergement</b> : une yourte, dans un arbre, sur un bateau, dans un château, dans une roulotte, dans une grange, dans un train…</li>
            <li><b>Le lieu de l'hébergement</b> : en haute montagne, à la ferme, sur une île, sur une route, sous terre, dans les airs, sur l'eau, en mouvement...</li>
            <li><b>La qualité des hôtes</b> : de par leur profession (agriculteurs, pêcheurs, chasseurs, vignerons...), leur culture (musique, poésie...), leur langue, leurs traditions...</li>
            <li><b>Les activités proposées</b> : artisanat, activités à la ferme, chasse, pêche, découverte d'une civilisation…</li>
        </ul>
    </section>
</section>