<h2>Connectez-vous!</h2>
<div class="login-container"> 
        <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput name="email" type="email">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input matInput name="password" type="password">
            </mat-form-field>
    
            <button mat-raised-button type="submit">Valider</button>
            <p>Vous n'avez pas compte! <span><a href="/login">Clickez ici!</a></span>/p>
</div>