<aside id="aside" class="ah-aside hide">
    <h2 class="ah-title ah-title-separator important"><span class="ah-title-text"><i class="ah-title-icon-left la la-leaf"></i>Découvrez aussi...<i class="ah-title-icon-right la la-leaf"></i></span></h2>
    <div class="ah-content-wrap">
        <ul class="ah-list-icons ah-flex-list">
        <!--
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sailing"       data-icon="sailing"       data-title="Title"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sand-bucket"   data-icon="sand-bucket"   data-title="Title"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sandcastle"    data-icon="sandcastle"    data-title="Title"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="scuba-diving"  data-icon="scuba-diving"  data-title="Title"></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sun"           data-icon="sun"           data-title="Title" data-color="#80cbe8" ></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sunglasses"    data-icon="sunglasses"    data-title="Title" data-color="#5994ea" ></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-backg="sunny-beach"   data-icon="sunny-beach"   data-title="Title" data-color="#7081e5" ></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="swimming-suit" data-title="Title" data-color="#a490f4" ></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="swimming"      data-title="Title" data-color="#f279cd" ></a></li>
            <li><a href="" data-icons-set="travel" data-bg-src="placeholder" class="ah-icon icon-big" data-group="beach" data-icon="temperature"   data-title="Title" data-color="#f4bc62" ></a></li>
        -->
        </ul>
    </div>
    <i class="la la-pagelines important ah-aside-foot-icon"></i>
</aside>